<!DOCTYPE html>
<html>
	<head>
		<!-- Document Settings -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="http://placehold.it/16x16" />
		<!-- Page Title -->
		<title>Proton - Minimal Portfolio Theme</title>
		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
		<!-- Styles -->
		<link rel="stylesheet" href="assets/css/bootstrap.css">
		<link rel="stylesheet" href="assets/css/font-awesome.css">
		<link rel="stylesheet" href="assets/css/style.css">
	</head>
	<body>
		<div class="loader"></div>
		<div class="wrapper">
			<div class="container">
				<header>
					<div class="logo">
						<a href="index.html">
						<img src="http://placehold.it/95x20" alt="">
						</a>
					</div>
					<div class="mobile-menu">
						<span class="line"></span>
					</div>
					<nav>
						<ul id="menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li>
								<a href="#">Pages</a>
								<ul>
									<li>
										<a href="#">Masonry</a>
										<ul>
											<li><a href="index2.html">2 Column</a></li>
											<li><a href="index.html">3 Column</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Blog</a>
										<ul>
											<li><a href="journal-grid.html">Grid</a></li>
											<li><a href="journal-full.html">Full Width</a></li>
											<li><a href="journal.html">Classic</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Portfolio</a>
										<ul>
											<li><a href="portfolio.html">2 Column</a></li>
											<li><a href="portfolio-3.html">3 Column</a></li>
											<li><a href="portfolio-4.html">4 Column</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="active"><a href="#">Journal</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="#">Buy now!</a></li>
						</ul>
					</nav>
				</header>
				<div class="page-title">
					<div class="row">
						<div class="col-md-9 col-xs-12">
							<h1><b>Our Latest News</b><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ratione molestias magni.</h1>
						</div>
					</div>
				</div>
				<div class="blog">
					<div class="row">
						<div class="col-md-9 col-sm-9 col-xs-12 blog-content">
							<div class="blog-post">
								<div class="blog-img">
									<a href="journal-single.html">
									<img src="http://placehold.it/840x420" alt="">
									</a>
								</div>
								<div class="blog-info">
									<h2><a href="journal-single.html">New electric cars are fast</a></h2>
									<ul class="post-info">
										<li>by <a href="#"> Natalie Portman</a></li>
										<li>in <a href="#"> Art Work</a></li>
										<li>posted <a href="#"> October 15, 2015</a></li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam modi laudantium, autem, quasi eligendi possimus suscipit fuga quod unde molestias accusantium praesentium officia asperiores, ipsa itaque. Doloribus ipsum neque nihil magni labore. Voluptates at, temporibus quam eos iure ullam.</p>
									<a href="journal-single.html" class="button">
									Read More
									</a>
								</div>
							</div>
							<div class="blog-post">
								<div class="blog-img">
									<a href="journal-single.html">
									<img src="http://placehold.it/840x420" alt="">
									</a>
								</div>
								<div class="blog-info">
									<h2><a href="journal-single.html">New electric cars are fast</a></h2>
									<ul class="post-info">
										<li>by <a href="#"> Natalie Portman</a></li>
										<li>in <a href="#"> Art Work</a></li>
										<li>posted <a href="#"> October 15, 2015</a></li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam modi laudantium, autem, quasi eligendi possimus suscipit fuga quod unde molestias accusantium praesentium officia asperiores, ipsa itaque. Doloribus ipsum neque nihil magni labore. Voluptates at, temporibus quam eos iure ullam.</p>
									<a href="journal-single.html" class="button">
									Read More
									</a>
								</div>
							</div>
							<div class="blog-post">
								<div class="blog-img">
									<a href="journal-single.html">
									<img src="http://placehold.it/840x420" alt="">
									</a>
								</div>
								<div class="blog-info">
									<h2><a href="journal-single.html">New electric cars are fast</a></h2>
									<ul class="post-info">
										<li>by <a href="#"> Natalie Portman</a></li>
										<li>in <a href="#"> Art Work</a></li>
										<li>posted <a href="#"> October 15, 2015</a></li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam modi laudantium, autem, quasi eligendi possimus suscipit fuga quod unde molestias accusantium praesentium officia asperiores, ipsa itaque. Doloribus ipsum neque nihil magni labore. Voluptates at, temporibus quam eos iure ullam.</p>
									<a href="journal-single.html" class="button">
									Read More
									</a>
								</div>
							</div>
							<div class="blog-post">
								<div class="blog-img">
									<a href="journal-single.html">
									<img src="http://placehold.it/840x420" alt="">
									</a>
								</div>
								<div class="blog-info">
									<h2><a href="journal-single.html">New electric cars are fast</a></h2>
									<ul class="post-info">
										<li>by <a href="#"> Natalie Portman</a></li>
										<li>in <a href="#"> Art Work</a></li>
										<li>posted <a href="#"> October 15, 2015</a></li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam modi laudantium, autem, quasi eligendi possimus suscipit fuga quod unde molestias accusantium praesentium officia asperiores, ipsa itaque. Doloribus ipsum neque nihil magni labore. Voluptates at, temporibus quam eos iure ullam.</p>
									<a href="journal-single.html" class="button">
									Read More
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12 sidebar">
							<div class="sidebar-content">
								<h4>Recent Posts</h4>
								<ul>
									<li><a href="#">Summer Soiree Inspiration</a></li>
									<li><a href="#">New electric cars are fast</a></li>
									<li><a href="#">The best 20 spots for relaxing</a></li>
									<li><a href="#">Eating well. A short guide</a></li>
								</ul>
							</div>
							<div class="sidebar-content">
								<h4>Categories</h4>
								<ul>
									<li><a href="#">Art Work</a></li>
									<li><a href="#">Design</a></li>
									<li><a href="#">Picture</a></li>
									<li><a href="#">Eating</a></li>
									<li><a href="#">Eating</a></li>
									<li><a href="#">Electric</a></li>
								</ul>
							</div>
							<div class="sidebar-content tags">
								<h4>Tags</h4>
								<ul>
									<li><a href="#">Art Work</a></li>
									<li><a href="#">Design</a></li>
									<li><a href="#">Picture</a></li>
									<li><a href="#">Web</a></li>
									<li><a href="#">Design</a></li>
									<li><a href="#">Template</a></li>
									<li><a href="#">Illustrator</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="page-pagination">
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<footer>
					<p>
						<b>Contact</b>
						<br>
						Phone / +80 356 22 5688
						<br>
						Email / info@proton.com
						<br>
						Studio / 36 Jump Street, New York ACT 2609
					</p>
				</footer>
			</div>
		</div>
		<script src="assets/js/jquery-1.12.4.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/isotope.pkgd.min.js"></script>
		<script src="assets/js/jquery.slicknav.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>