<!DOCTYPE html>
<html>
	<head>
		<!-- Document Settings -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="http://placehold.it/16x16" />
		<!-- Page Title -->
		<title>Proton - Minimal Portfolio Theme</title>
		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
		<!-- Styles -->
		<link rel="stylesheet" href="assets/css/bootstrap.css">
		<link rel="stylesheet" href="assets/css/font-awesome.css">
		<link rel="stylesheet" href="assets/css/style.css">
	</head>
	<body>
		<div class="loader"></div>
		<div class="wrapper">
			<div class="container">
				<header>
					<div class="logo">
						<a href="index.html">
						<img src="http://placehold.it/95x20" alt="">
						</a>
					</div>
					<div class="mobile-menu">
						<span class="line"></span>
					</div>
					<nav>
						<ul id="menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li>
								<a href="#">Pages</a>
								<ul>
									<li>
										<a href="#">Masonry</a>
										<ul>
											<li><a href="index2.html">2 Column</a></li>
											<li><a href="index.html">3 Column</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Blog</a>
										<ul>
											<li><a href="journal-grid.html">Grid</a></li>
											<li><a href="journal-full.html">Full Width</a></li>
											<li><a href="journal.html">Classic</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Portfolio</a>
										<ul>
											<li><a href="portfolio.html">2 Column</a></li>
											<li><a href="portfolio-3.html">3 Column</a></li>
											<li><a href="portfolio-4.html">4 Column</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="journal.html">Journal</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="#">Buy now!</a></li>
						</ul>
					</nav>
				</header>
				<div class="project-single">
					<div class="row">
						<div class="col-md-5">
							<div class="single-info">
								<div class="project-description">
									<h3>Sentimental Reasons</h3>
									<span>Photography</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, corporis! Accusamus magnam asperiores temporibus nam perspiciatis ab, saepe aperiam eligendi. Eaque, suscipit, cupiditate ratione hic perspiciatis repellat, inventore iusto explicabo laborum!</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, corporis! Accusamus magnam asperiores temporibus nam perspiciatis ab, saepe aperiam eligendi. Eaque, suscipit, cupiditate ratione hic perspiciatis repellat, inventore!</p>
								</div>
								<div class="project-services">
									<h4>Services</h4>
									<ul>
										<li>Design</li>
										<li>Front End</li>
										<li>Back End</li>
									</ul>
								</div>
								<div class="project-services project-share">
									<h4>Share</h4>
									<ul>
										<li><a href="#">Facebook</a></li>
										<li><a href="#">Twitter</a></li>
										<li><a href="#">Instagram</a></li>
										<li><a href="#">Behance</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-md-offset-1 project-photos">
							<img src="http://placehold.it/555x370" alt="">
							<img src="http://placehold.it/555x370" alt="">
							<img src="http://placehold.it/555x370" alt="">
							<img src="http://placehold.it/555x370" alt="">
						</div>
					</div>
				</div>
				<footer>
					<p>
						<b>Contact</b>
						<br>
						Phone / +80 356 22 5688
						<br>
						Email / info@proton.com
						<br>
						Studio / 36 Jump Street, New York ACT 2609
					</p>
				</footer>
			</div>
		</div>
		<script src="assets/js/jquery-1.12.4.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/isotope.pkgd.min.js"></script>
		<script src="assets/js/jquery.slicknav.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>